body{
    background-color: rgba(150, 130, 171, 0.5);
}

h2{
    font-family: Merriweather;
    text-align: center;
    color: white;
}
li {
    display: inline;
    color: white;
    padding: 0px 10px 0px 10px;
    text-align: center;

  }
.headerline {
  padding: 10px;
  background: rgba(0,0,0,0.5);
}
header{
    text-align: center;
    background: url("images/dogprints1.jpg"); 
    color: aliceblue;
    background-size:(cover);
    padding:20px 0px 0px 0px
}
.white {
  color: white;
}
p{
  color:whitesmoke;
}
h1 {
  font-size:40px;
}
#headerpic {
  margin: 40px 0px 0px 0px;
  
  border: 7px solid white;
}
